{% extends  "base.html" %}
{% load static %}
{% block title %}SignUP{% endblock  %}
  

{% block body %}
<div class="register-form">
<form method="post" class="form signup" novalidate>
    {% csrf_token %}
    <h2 class="heading-lg">Sign Up</h2>
    {% for formset  in formset %}
        {{formset.label}} {{formset}} {{formset.errors|striptags}} <br> <br>

    {% endfor %}
    <button type="submit">Register</button>
    <p class="login-text">Already have account <a href="loginRegister" class="login-btn">Login</a></p>
</form>

</div>
{% endblock %}