{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!--  ================ FAVICON ================= */  -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>

        <!--  ================ SWIPER CSS ================= */  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


        <!--  ================ CSS ================= */  -->
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    </head>

<body>
    <div class="body">
        <div class="wrapper">
            <form method="post" class="form signup" novalidate>
                {% csrf_token %}
                <h2 class="heading-lg">Sign Up</h2>
                <!-- {% comment %} {% for formset  in formset %}
        {{formset.label}} {{formset}} {{formset.errors|striptags}} <br> <br>
    {% endfor %} {% endcomment %} -->
                <div class="input-box">
                    <input type="text" name="username" maxlength="150" autofocus required id="id_username"
                    placeholder="Username">
                    <i class="fi fi-rs-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" name="first_name" maxlength="150" id="id_first_name" placeholder="First_name">
                    <input type="text" name="last_name" maxlength="150" id="id_last_name" placeholder="Last_name">    
                </div>


                hhg8ug8g-g-gu8g8yg7cgcocyyv yg tx69v 8c66c huv96xcv70yg d d6
                <br>
                <div class="input-box">
                    <input type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
                    <i class="fi fi-rs-mail"></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1"
                    placeholder="Password">
                    <i class="fi fi-rs-lock"></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password2" required id="id_password2" placeholder="Confirm_Password">
                    <i class="fi fi-rs-eye"></i>
                </div>
                <button type="submit">Register</button>
                <div class="register-link">
                    <p class="login-text">Already have account <a href="loginRegister" class="login-btn">Login</a></p>
                </div>
            </form>
        </div>

    </div>

</body>